$zomp: #43aa8bff !default;
$dark-cyan: #4d908eff !default;
$paynes-gray: #577590ff !default;
$cerulean: #277da1ff !default;
$whitesmoke: #f5f5f5 !default;
$indigo-dye: #3a4a5a !default;
$bright-blue: #6c63ff !default;
$pastel-blue: #e5e2ff !default;
$yellow: #ffd600;
$light-yellow: #fbeb99;
$blue-purple: #1b0854 !default;
$white: #fff;
